.chatbox {
  display: flex;
  justify-content: stretch;
  margin: -40px 0 0 31px;
  height: 1500px;
}

.chatList{
  border-right: solid;
  border-width: thin;
  padding-right: 38px;
} 
 
.message-box{
  margin: 57px 0 0 15px
} 

.msg-title{
  margin: -36px 0 9px 0;
  color: black;
  font-family: 'Pompiere', cursive;
  font-size: 40px;

}

.messageDiv {
  margin-left: 30px;
}
 
/* .message-form{
  margin: 500px 0 0 400px;
} */

form.message-form { background: #000; padding: 2px; position: fixed; bottom: 0; width: 100%; margin-left: -15px}
form.message-form input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
form.message-form button { width: 9%; background:lightblue; border: none; padding: 10px; }

.matchestitle {
  font-family: 'Pompiere', cursive;
  font-size: 40px;
}
.matchentry {
  padding: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px
}